<div class="testimonial">

    <div class="stars mb-3">
        {{ stars }}
    </div>

    <p class="review">
        "{{ review }}"
    </p>

    <div class="customer">

        <div
            class="avatar-sm"
            [style.background]="avatarGradient">

            {{ avatar }}

        </div>

        <div>

            <div class="name">

                {{ customerName }}

            </div>

            <small class="location">

                {{ location }}

            </small>

        </div>

    </div>

</div>