<div class="card">

  <!-- <div class="card-header">
    <h3>Payment Details</h3>
  </div> -->

  <div class="table-wrapper">

    <table class="dynamic-table">

      <thead>
        <tr>
          <th *ngFor="let column of columns">
            {{ column.label }}
          </th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let row of tableData" (click)="onGridCellClickEvent(row)" class="tableRow">

          <td *ngFor="let column of columns">

            <input
              *ngIf="column.format"
              [type]="column.format"
              [value]="row[column.field] ? row[column.field]  : ''"
              (input)="onGridCellChange(column,row,$event)"
            >

            <span *ngIf="!column.format">
              {{ row[column.field] }}
            </span>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>