<div class="card">

  <div class="card-header">
    <h3>{{ cardTitle }}</h3>
  </div>

  <form [formGroup]="form">

    <div class="form-grid">

      <div
        class="field-container"
        *ngFor="let field of fields">

        <label>{{ field.label }}</label>

        <ng-container [ngSwitch]="field.type">

          <input
            *ngSwitchCase="'text'"
            [formControlName]="field.name"
            (input)="onValueDataChange(field.name,$event)"
            >

               <input
            *ngSwitchCase="'date'"
            type="date"
            [formControlName]="field.name"
            (input)="onValueDataChange(field.name,$event)"
            >
            

          <input
            *ngSwitchCase="'number'"
            type="number"
            [formControlName]="field.name"
            (input)="onValueDataChange(field.name,$event)"
            >

          <select
            *ngSwitchCase="'select'"
            [formControlName]="field.name"
            (change)="onValueDataChange(field.name,$event)"
            >

            <option
              *ngFor="let option of field.options"
              [value]="option.value"
              >

              {{ option.label }}

            </option>

          </select>

        </ng-container>

      </div>

    </div>

  </form>

</div>