<div class="fp-backdrop">
  <div class="fp-dialog">
    <button
      type="button"
      class="fp-close"
      routerLink="/login">
      ×
    </button>

    <app-password-input
    (sendOtpClicked)="onSendOtp($event)"
      *ngIf="stage === 1">
    </app-password-input>

    <app-forgot-password-otp-verification
    (verifyClicked)="onVerifyOtp($event)"
    (resendClicked)="resendOtp()"
    (changeEmailClicked)="onChangeEmail()"
      *ngIf="stage === 2">
    </app-forgot-password-otp-verification>

    <app-forgot-password-message
    (continueClicked)="continueToLogin()"
      *ngIf="stage === 3">
    </app-forgot-password-message>

  </div>

</div>